:root {

  --background-color1: #1f2122;
  --background-color2: #27292a;
  --text-color: #f6f6f6;
  --highlight: #60b6ec;
  --highlight-secondary: #707679;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {height: 100%;}

body {
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--highlight-secondary);
  border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--highlight);
  border-radius: 5px;
}

.header {
  position: fixed;
  width: 100%;
  display: contents;
}

/* Create a top navigation bar with a black background color  */
.topnav {
  background-color: var(--background-color2);
  overflow: hidden;
  min-width: 722px;
  height: 52px;
  margin-bottom: 8px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--text-color);
  color: var(--background-color1);
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  background-color: var(--highlight);
  color: white;
}

.subnav {
  overflow: hidden;
  min-width: 722px;
  /* text-align: center; */
  margin-bottom: 8px;
  align-content: center;
}

.underline {
  transform: translateY(9px);
  height: 5px;
  background-color: var(--highlight);
  visibility: hidden;
}

.filters {
  display: none;
}

.anime_info_panal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--background-color2);
  width: 732px;
  min-height: 411px;
  display: grid;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  display: none;
  border: 2px solid var(--highlight);
}

.anime_info_close:hover {
  background-color:#b83c3c;
}

.tabnav {
  background-color: var(--background-color1);
  overflow: hidden;
  min-width: 450px;
}

/* Style the links inside the navigation bar */
.tabnav a {
  float: left;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.tabnav a:hover {
  background-color: var(--text-color);
  color: var(--background-color1);
}

.tab_underline {
  transform: translateY(14px);
  height: 5px;
  background-color: var(--highlight);
  visibility: hidden;
}

.tabcontent {
  display: none;
}

.anime_info_panal p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  display: contents;
}

.anime_info_panal table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  background-color: var(--background-color1);
}

.anime_info_panal input {
  background-color: var(--background-color2);
  width: 140px;
  margin-right: 6px;
}

.anime_info_panal select {
  background-color: var(--background-color2);
  width: 161.2px;
}

.anime_info_panal_title {
  border-top: 0px;
  border-bottom: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  float: left;
}

.anime_info_title_row {
  /* scroll-snap-align: center; */
  /* align-content: baseline; */
  font-size: 24px;
  vertical-align: bottom;
  /* max-height: 24px; */
  height: 30px;
}

.anime_info_lower {
  display: flex;
  gap: 10px;
}

.anime_info_cover {
  max-width: 200px;
}

.anime_info_text {
  min-height: 150px;
  max-height: 300px;
  Overflow-y: auto;
}

.anilist_login_panal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--background-color1);
  width: 600px;
  display: grid;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  visibility: hidden;
}

.anilist_login_panal textarea {
  width: 250px;
  height: 50px;
  resize: none;
}

.anilist_login_panal button {
  height: 39.6px;
  width: 210px;
}

.anilist_login_panal input {
  width: 160px;
}

.anilist_auth_panal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--background-color1);
  width: 700px;
  display: grid;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.myProgress {
  width: 100%;
  background-color: var(--background-color1);
  margin-top: -6px;
  height: 5px;
  position: absolute;
  z-index: 1;
}

.myBar {
  width: 15%;
  height: 5px;
  background-color: var(--highlight);
  position: absolute;
  z-index: 3;
}

.episodes_exist {transform: translate(-200px, 300px);position: absolute;background: var(--background-color1);}

.cover_panal {
  display: grid;
  grid-gap: 20px 30px;
  grid-template-columns: repeat(auto-fill, 200px);
  transition: .5s ease;
  font-size: 14px;
  text-align: center;
}

.cover_panal p {
  margin-top: 0;
  margin-bottom: 0;
}

.cover_container {
  position: relative;
  width: 100%;
  max-width: 200px;
  background: var(--background-color2);
  /* border-radius: 8px; */
  /* padding: 4px; */
}

.cover_container button {
  position: absolute;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  opacity: 0;
}

.play_image {
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
}

.cover_play_button {
  left: 68%;
  top: 0;
}

.cover_info_button {
  left: 50%;
  top: 78%;
  display: none;
}

.cover_container:hover button {
  opacity: 0.8;
}

.cover_container:hover .cover_nav {
  opacity: 1;
}

.CoverButton {
  position: relative;
  z-index: 100;
  visibility: visible;
}

.big_play_button {
  border-radius: 60px;
  top: 45%;
  left: 50%;
  padding: 20px;
}

.big_play_button:hover img {
  filter: invert(100%);
}

.big_play_button:hover {
  background: var(--text-color);
}

.CoverButton:hover {
  visibility: hidden;
}

.cover_title {
  height: 44px;
  overflow: hidden;
}

.cover_nav {
  position: absolute;
  background-color: var(--background-color2);
  overflow: hidden;
  top: 70%;
  left: 12.5%;
  padding: 6px 6px;
  border-radius: 16px;
  opacity: 0;
}

/* Style the links inside the navigation bar */
.cover_nav a {
  float: left;
  color: var(--text-color);
  text-align: center;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  min-width: 20px;
}

/* Change the color of links on hover */
.cover_nav a:hover {
  background-color: var(--text-color);
  color: var(--background-color1);
}

.container_header {
  float: right;
  height: 25px;
  vertical-align: bottom;
  padding: 1px;
}

.container {
  overflow-y: auto;
  max-height: calc(100vh - 68px);
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--highlight);
}

h1 {
  text-align: center;
}

input,
button,
select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: var(--background-color1);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--highlight);
}